#Introducción
###¿Qué es SQL?
El lenguaje de consulta estructurada (SQL) es un lenguaje de programación para almacenar y procesar información en una base de datos relacional.

[fuente](https://aws.amazon.com/es/what-is/sql/)

###¿Por qué es importante?

El lenguaje de consulta estructurada (SQL) es un lenguaje de consulta popular que se usa con frecuencia en todos los tipos de aplicaciones. Los analistas y desarrolladores de datos aprenden y usan SQL porque se integra bien con los diferentes lenguajes de programación.

[fuente](https://aws.amazon.com/es/what-is/sql/)

###¿Qué aplicaciones puede tener en ingeniería?

*   Gestión de inventarios: control de stock, seguimiento en tiempo real, tendencias de demanda
*   Análisis de procesos / optimización
*   Programación de la producción
*   Control de calidad
*   Logística y cadena de suministro
*   Mantenimiento programas preventivos

###¿Qué librerías hay para trabajar SQL en Google Colab?


*   SQLAlchemy: https://docs.sqlalchemy.org/
*   psycopg2: https://wiki.postgresql.org/wiki/Main_Page
*   PyMongo: https://pymongo.readthedocs.io/
*   redis-py: https://redis-py.readthedocs.io/

In [ ]:
import sqlite3 #importamos librería SQLite3

MySQL necesita conexiones e instalaciones; el benchmark es el mejor de todos los "Queries". La ventaja de trabajar con sqlite; es que se puede crear bases de datos por default, mientras que en MySQL es necesario crear la base de datos.


**Crearemos una base de datos**


Nuestra base de datos consistirá de libros.

In [ ]:
# para crear la bas de datos, debemos conevtar con el servidor SQL

con =sqlite3.connect("libros1_db.sqlite")

Ahora vamos a diseñar nustra **tabla**.

In [ ]:
# Crearemos un cursor
cursor = con.cursor()

# Ejecutaremos los datos para la tabla
cursor.execute('''
CREATE TABLE libros1 (
  id INTEGER PRIMARY KEY,
  titulo TEXT NOT NULL,
  autor TEXT NOT NULL,
  año INTEGER
)
''')

In [ ]:
libros1_datos = [("Harry Potter", "J.K.R.",1997),
                 ("The Hobbit","Tolkien",1937),
                 ("Better than the movies", "Lynn Painter",2021),
                 ("La Sombra del Viento","Carlos Ruiz Zafín",2001)]

In [ ]:
cursor.executemany("""
INSERT INTO libros1 (titulo, autor, año) VALUES (?,?,?)""", libros1_datos)
con.commit()

In [ ]:
cursor.execute("SELECT * FROM libros")
libros1 = cursor.fetchall()
for libro in libros1:
  print(libros1)